asgiref
backoff
branca
build
certifi
charset-normalizer
colorama
crispy-bootstrap5
distlib
Django
django-crispy-forms
django-environ
EasyProcess
entrypoint2
filelock
idna
Jinja2
MarkupSafe
MouseInfo
mss
numpy
opencv-contrib-python
packaging
Pillow
platformdirs
protobuf
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
pyproject_hooks
PyRect
pyscreenshot
PyScreeze
python-environ
pytweening
requests
setuptools-git-versioning
smhi-weather
sqlparse
tzdata
urllib3
virtualenv